* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#cacbcc !important;
    font-family:sans-serif;
  }
  
  .box{
    box-shadow: 0 10px 6px -6px grey;
    border: 0.5px;
    padding:25px;
    width:65%;
    height:100%;
    background:white;
    margin:40px auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }
  .box h1{
    text-align: center;
    font-family: sans-serif;
  }
  .box p{
    text-align: center;
    font-style: oblique;
  }
  
  label{
    padding: 5px;
  }
  
  .input{
    padding: 3px;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  input[type=text]{
    width:100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=password]{
    width:100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* input[type=text]:focus, {
    background-color: #ddd;
    outline: none;
  } */
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
    width:100%;
  }
  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  